h1 {
    font-family: sans-serif;
    font-size: 2em;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
p {
    color: blue;
}

button {
    color: white;
    border-radius:50%;
    background-color: #000;
}